In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../Load_data/DataSet_TS.csv")
df.head()

,character,max_hp,entering_hp,damage_taken,enemies,level_asc_floor,dmg_mean_ascension,enemy_type,A Thousand Cuts,A Thousand Cuts+1,...,Turnip,TwistedFunnel,Unceasing Top,Vajra,Velvet Choker,WarpedTongs,Whetstone,White Beast Statue,WingedGreaves,WristBlade
0,THE_SILENT,77,77,0,27,5,8.810994,comun,0,0,...,0,0,0,0,0,0,0,0,0,0
1,THE_SILENT,77,77,1,12,7,8.810994,comun,0,0,...,0,0,0,0,0,0,0,0,0,0
2,THE_SILENT,77,61,20,60,12,8.810994,elite,0,0,...,0,0,0,0,0,0,0,0,0,0
3,THE_SILENT,77,64,2,4,19,8.810994,comun,0,0,...,0,0,0,0,0,0,0,0,0,0
4,THE_SILENT,77,62,6,33,21,8.810994,comun,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.drop(columns=["character"], inplace=True)

In [ ]:
# Importamos las librerías necesarias
from pycaret.classification import *
import pandas as pd

data = pd.read_csv("../Load_data/DataSet_TS.csv")
data.drop(columns=["character"], inplace=True)

from pycaret.regression import *
exp = RegressionExperiment()
exp.setup(df, target = 'damage_taken', session_id = 123)

best = exp.compare_models()